@page "/subjects/grades/{id:min(1)}/{handler?}"
@model WebAppFacultyManagement.Pages.Subjects.GradeListModel
@{
    ViewData["Title"] = Model.SelectedSubject.Name + " Grades";
}


<h2>Listing grades for subject @Model.SelectedSubject.Name</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Student name</th>
            <th>Grade value</th>
            <th></th>
        </tr>
        @foreach (var grade in Model.GradesForSelectedSubject)
        {
            var studentName = "";
            <tr>
                <td>
                    @foreach (var student in Model.Students)
                    {
                        @if (student.StudentID == grade.StudentID)
                        {
                            studentName = student.Name;
                            break;
                        }
                    }
                    @studentName
                </td>
                <td>@grade.GradeValue</td>

                <td>
                    <div class="col-md-12">
                        <form class="form-horizontal" method="post" asp-page-handler="DeleteGrade">
                            <input hidden asp-for="GradeIDToBeDeleted" value="@grade.GradeID">
                            @if (Model.HasAdminRights)
                            {
                                <button type="submit" class="btn btn-primary">Delete grade</button>
                            }

                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>



    @if (Model.HasAdminRights)
    {
        <hr>

        <h4>Add a new grade here:</h4>
        <form class="form-horizontal" method="post" asp-page-handler="OnPost">
            <div class="form-group">
                <label class="col-sm-2 control-label">Student Name</label>
                <div class="col-sm-10">
                    <select asp-for="SelectedStudentNameForAddGrade">
                        <option value="">Pick one</option>
                        @foreach (var student in Model.Students)
                        {
                            <option value="@student.Name">@student.Name</option>
                        }
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Grade value</label>
                <div class="col-sm-10">
                    <input asp-for="GradeValueForAddGrade" class="form-control" placeholder="Grade value">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save grade</button>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="alert alert-warning">
                    @Model.Message
                </div>
            }
        </form>
    }







    <a asp-page="/Subjects/Index" class="btn btn-primary" role="button">Go back</a>
</div>

